#root {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.booking-header-paper {
  margin: 10px; 
  height: 70px;
}
.booking-header-box {
  display: flex;
  padding: 10px;
}
.booking-header-box-1 {
  display: flex;
  width: 250px
}
.form-control-label {
  margin: 0 auto;
}
.machines-switch {
  margin: -7px 7px;
}
.Mui-disabled{
  color: red;
}
.booking-counter-mainBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  margin: 20px 0;
}
.booking-counter-resesrvation {
  display: flex;
  align-items: "center";
  gap: 1;
}
.booking-counter-edit-cancel-btn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.booking-counter-trade-box {
  padding: 10px;
  display: flex;
  width: 150px;
}
.report-btn {
  background-color: #F7717D !important;
}
.tradeBtn {
  background-color: #709775 !important;
}
.reserveBtn {
  outline: solid !important;
  color: rgb(118, 118, 175) !important;
  background-color: whitesmoke !important;
}
.bookedSlot{
  background-color: #D1D2F9 !important;
  padding: 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.35) !important;
}
.bookedUserSlot{
  background-color: #8a8cf7 !important;
  padding: 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.35) !important;
}
.bookedEditSlot{
  background-color: #D1D2F9 !important;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0) !important;
}
.expiredSlot{
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
.bookingTable{ 
  margin-top: 80px;
}

.signUpBtn {
  background-color: transparent !important;
  border: solid !important;
  font-weight: 100;
  margin-left: 5px !important;
  font-size: 9px !important;
  color: #4A5899 !important;
  text-underline-offset: 8px !important;
}

.loginBtn {
  margin-left: 10px !important;
  background-color: #4A5899 !important;
}

.signUpSubmit {
  background-color: #4A5899 !important;
}
.cancelBtn {
  background-color: #EE4266 !important;
}
.infoIcon {
  color: #60AFFF !important;
}

.disabledBtn {
  background-color: #B4B8C5 !important;
}
.enabledBtn {
  background-color: #4A5899 !important;
}
.enabledCancelBtn {
  background-color: #4A5899 !important;
}

.tableBorders {
  border-right-style: dashed;
  border-right-width: 0.5px;
  border-right-color: rgba(128, 128, 128, 0.628);
}