#root {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.booking-counter-mainBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  margin: 20px 0;
}
.booking-counter-resesrvation {
  display: flex;
  align-items: "center";
  gap: 1;
}
.booking-counter-edit-cancel-btn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.booking-counter-trade-box {
  padding: 10px;
  display: flex;
  width: 150px;
}
.report-btn {
  color: black;
  background-color: grey;
  padding: 20px;
}
.tradeBtn {
  background-color: green !important;
}
.reserveBtn {
  outline: solid !important;
  color: rgb(118, 118, 175) !important;
  background-color: whitesmoke !important;
}
.headerLoginBtn {
  outline: solid !important;
  margin-left: 10px !important;
}
